
.divnav{
    color: black;
    text-decoration: none;
}

.box1, .box2 {
    background-color: thistle;
    width: 100%;
    

}

.error{
    color:red;
    font-weight: 300;
    font-size: 14px;
}





