<app-navbar-user></app-navbar-user>
<div class="wrapper">
    <div class="miga">
        <div class="container">
            <div class="d-flex justify-content-evenly divnav">
                <button class="btn ms-3 mt-3" href="">Mi perfil</button>
                <button class="btn ms-3 mt-3" href="">Mi cuenta</button>
                <div>
                    <button class="btn mt-3 ms-5" href="">Descontectarse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-self-stretch">
            <div class="col-8 box1">
                <p>holita</p>
            </div>
            <div class="col-4 box2">
                <p>amigos</p>
            </div>

        </div>



    </div>



</div>