<div class="wrapper">
    <div class="container">
        <nav class="navbar row">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="../../../assets/img/Captura-de-pantalla-2021-06-06-a-las-17.59.54.svg" alt="" width="110"
                        height="80" class="d-inline-block align-text-top">
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark me-4" routerLink="/profesores">Buscar tu
                            profesor</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-info me-4">Ayuda</button>
                    </li>
                    <li class="nav-item" *ngIf="initsession">
                        <button type="button" class="btn btn-outline-success me-4" routerLink="/login">Iniciar
                            sesión</button>
                    </li>
                    <li class="nav-item" *ngIf="!initsession">
                        <button type="button" class="btn btn-outline-success me-4"
                            routerLink="/register">Registrarme</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>