<!--Main Content-->
<footer class="bg-light text-dart pt-5 pb-4">
  <div class="container text-center tex-md-left">
    <div class="row text-center tex-md-left">
      <div class="col-md3 col-lg-3 col-xl-3 mx-auto mt-3">
        <a class="text-uppercase mb-4 font-weight-bold text-info" routerLink="/Home" style="text-decoration: none;">We
          Padel Team</a>

        <hr class="mb-4">
        <p>
          Somos una compañía donde conectamos entre una comunidad que disfruta de manera social y
          divertida a través del padel. Regístrate y podrás disfrutar de partidos cerca de tí, indica tu nivel
          y
          disfruta de la experiencia de la comunidad 🎾</p>
      </div>

      <div class="col-md-3 col-lg2 col-xl-2 mx-auto mt-3">
        <a class="text-uppercase mb-4 font-weight-bold text-info" routerLink="/Home"
          style="text-decoration: none;">Conócenos</a>
        <hr class="mb-4">
        <div class="mb-3">
          <i class="fas fa-home">
            <p class="ms-1">Calle Mariana, 15 Madrid, Es</p>
          </i>
        </div>
        <div class="mb-3">
          <i class="fas fa-envelope mb-3">
            <p class="ms-1">wepadel.info@gmail.com</p>
          </i>
        </div>
        <div class="mb-3">
          <li class="fas fa-phone m3">+34 672236098</li>
        </div>
      </div>
      <div class="col-md-3 col-lg2 col-xl-2 mx-auto mt-3">
        <a class="text-uppercase mb-4 font-weight-bold text-info" routerLink="/Home"
          style="text-decoration: none;">Busca profe</a>
        <hr class="mb-4">
        <p>
          Busca a tu profesor ideal para mejorar cada día en búsqueda del smatch perfecto!</p>
      </div>
      <div class="col-md-3 col-lg2 col-xl-2 mx-auto mt-3">
        <a class="text-uppercase mb-4 font-weight-bold text-info" routerLink="/Home" style="text-decoration: none;">Blog
        </a>
        <hr class="mb-4">
        <p>
          Al ser una comunidad propia de padel, estamos encantados de que puedas dejar tu reseña sobre el
          profesor o sobre las personas que habéis jugado</p>
      </div>



      <!-- REDES SOCIALES DERECHOS RESERVADOS -->
      <hr class="mb-4">
      <div class="row">
        <div class="col-8">
          <p>
            Copyright 2021 - All Rights Reserved -
            <a href="#" style="text-decoration:none">
              <strong class="text-info">We Padel</strong></a>
          </p>
        </div>

        <div class="col-4">
          <button type="button" class="btn btn-info btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button type="button" class="btn btn-ligth btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
          <button type="button" class="btn btn-light btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
          <button type="button" class="btn btn-dark btn-floating mx-1">
            <i class="fab fa-instagram"></i>
          </button>



        </div>
      </div>
    </div>
  </div>
</footer>