<!-- Footer -->
<footer class="text-white text-center text-md-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Team WePadel</h5>

        <p>
          Somos una compañía donde conectamos entre una comunidad que disfruta de manera social y
          divertida a través del padel. Regístrate y podrás disfrutar de partidos cerca de tí, indica tu nivel y
          disfruta de la experiencia de la comunidad 🎾
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Home</a>
          </li>
          <li>
            <a href="#!" class="text-white">Busca partido</a>
          </li>
          <li>
            <a href="#!" class="text-white">Buscar profesor</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
    </div>
  </div>
</footer>
<!-- Footer -->