<!-- Footer -->
<footer id="contact" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <p class="copyright">
          © 2021 We Padel</p>
        <p>
          Somos una compañía donde conectamos entre una comunidad que disfruta de manera social y
          divertida a través del padel. Regístrate y podrás disfrutar de partidos cerca de tí, indica tu nivel y
          disfruta de la experiencia de la comunidad 🎾
        </p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul class="footer-social">
          <li>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-3 col-xs-12">
        <div class="footer-menu text-xs-center  d-flex flex-column bd-highlight mb-3">
          <a href="#" class="mb-2">Aviso Legal</a>
          <a href="#">Cookies🍪</a>
          <a href="#">Más información y privacidad</a>
        </div>
      </div>
    </div>
  </div>
</footer>