footer{
    color: white;
    background-color: rgb(52, 50, 50);
    padding: 2em;

}
.container{
    position: relative;
    z-index: 3;
}
.col-xs-12{
    width: 25%;
}
.col-xs-12 p{
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    line-height: 100%;
    display: inline-block;
}
ul .footer-social{
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}
.footer-social li{
    display: inline-block;
}
.footer-social li a{
    padding: 0 15px;
    color: white;
}
.footer-social li a i{ 
    display: inline-block;
}
.footer-social li a i:hover{ 
    color: lightblue;
}
.footer-menu{
    color: white;
    text-align: center;
    display: flex;
}
.text-xs-center{
    text-align: center;
    
    
}
.footer-menu a{
    text-decoration: none;
    color: white;
}


@media(min-width:768px){
    .container{
        width:46.875 ;
    }
    .col-md6{
        width: 50%;
    }
}