<app-navbar-user></app-navbar-user>

<div class="container">

    <form class="mt-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Años de Experiencia</label>
            <input type="number" class="form-control" formControlName="experiencia" placeholder="Indica tu Experiencia">
        </div>
        <div class="mb-3">
            <label class="form-label">Precio</label>
            <input type="text" class="form-control" formControlName="precio" placeholder="Indica tu precio €/hora">
        </div>
        <div class="mb-3">
            <label class="form-label">Material Propio</label>
            <select name="material" class="form-control" formControlName="material_propio">
                <option selected>Elige una opcion</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Nivel Iniciación</label>
            <select name="nivel" class="form-control" formControlName="nivel">
                <option selected>Elige un nivel</option>
                <option value="1">BÁSICO</option>
                <option value="2">INICIACION</option>
                <option value="3">INTERMEDIO</option>
                <option value="4">AVANZADO</option>
                <option value="5">EXPERTO</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Desplazamiento</label>
            <select name="desplazamiento" class="form-control" formControlName="desplazamiento">
                <option selected>Elige una opcion</option>
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Instalacion Propia</label>
            <select name="instalacion_propia" class="form-control" formControlName="instalacion_propia">
                <option selected>Elige una opcion</option>
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
        </div>
        <button class="btn btn-outline-primary">Enviar</button>
    </form>
</div>