<app-navbar-user></app-navbar-user>
<button class="btn btn-primary" [routerLink]="['/profesores']">Volver a la lista</button>
<div class="container">
    <div class="header row">
        <div class="imagen col-5">
            <img src="http://4.bp.blogspot.com/-vrsBj3YssoM/VO5R0Q0PL3I/AAAAAAAASBM/IcOF9VmaAKA/s1600/retrato-hombre-joven-pequeño-rostro-sin-copyright.jpg"
                alt="">
        </div>
        <div class="description col-6">
            <h6>Descripción</h6>
            <!--Descripcion del profe-->
            <p>Clases de Padel para niños y adultos, divertidas y exigentes. Posibilidad de ser en INGLÉS. Graduado en
                INEF y Máster
                del profesorado en Educación Física

                Metodología

                Clases divertidas y didácticas, aunque también exigentes para los más peques. No faltarán los juegos,
                pero la técnica no
                se debe pasar por alto!
                Para los adultos, no faltará la diversión y la conversación, pero serán clases con cierta exigencia
                física, se trata de
                sudar un poco, y haremos hincapié en los errores técnicos.
                En posesión del titulo de Instructor por la Asociación Profesional Española de Centros de Enseñanza
                Deportiva.
                Trayectoria académica y profesional

            </p>
        </div>
    </div>

    <div class="details">
        <p>Nombre: <span></span></p>
        <p>Dirección: <span></span></p>
    </div>
    <div class="contacto">
        <p>Precio: <span></span> €/h</p>
        <button class="btn btn-primary">Contactar</button>
    </div>

    <div class="filters row">
        <div class="data_filter col-6">
            <p>Experiencia : <span></span></p>
            <p>🎾 Material Propio : <span></span></p>
            <p>📈 Niveles :<span></span> </p>
            <p> 🚗 Desplazamiento : <span></span></p>
        </div>
    </div>
</div>