<app-navbar-user></app-navbar-user>
<div class="container">
    <div class="header row">
        <div class="contain col-12">
            <div class="imagen">
                <img src="" alt="">
            </div>
            <div class="details">
                <h4>Dirección: </h4>
                <h1>Nombre: </h1>
            </div>
            <div class="contacto">
                <h2>Precio €/h</h2>
                <button class="btn btn-primary">Contactar</button>
            </div>
        </div>
    </div>
    <!--Cabecera-->
    <div class="description">
        <div class="card">
            <p>Experiencia: </p>
            <p>Material Propio: 🎾</p>
            <p>Niveles: 📈</p>
            <p>Desplazamiento 🚗</p>
        </div>
    </div>
</div>