<app-navbar-user></app-navbar-user>
<div class="container">
    <button class="btn btn-primary" [routerLink]="['/profesores']">Volver</button>
    <div class="header row">
        <div class="imagen col-6">
            <img [src]="detalleUser?.img_cliente">
        </div>
        <div class="col-6 like">
            <div class="details">
                <div class="nombre">
                    <h2>{{detalleUser?.nombre}} {{detalleUser?.apellidos}}</h2>
                </div>
                <p>{{detalleUser?.provincia}}</p>
            </div>
            <div class="contacto">
                <p> 💰 Precio: {{detalleUser?.precio}} €/h</p>
            </div>
            <div class="filters row">
                <div class="data_filter">
                    <p>👨‍🏫 Experiencia : <span>{{detalleUser?.experiencia}} años</span></p>
                    <p>🎾 Material Propio : <span>{{getMaterial(detalleUser?.material_propio)}}</span></p>
                    <p>📈 Nivel: <span>{{getNivel(detalleUser?.niveles)}}</span></p>
                    <p>🚗 Desplazamiento : <span>{{getDesplazamiento(detalleUser?.desplazamiento)}}</span></p>
                </div>
                <div class="button">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Contactar
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Contacta con tu profe</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <i class="fas fa-mobile-alt"></i>
                                    <p>Teléfono: {{detalleUser?.telefono}}</p>
                                    <i class="fas fa-envelope"></i>
                                    <p>Correo: {{detalleUser?.email}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="description1 col-12 m-3 p-3">
        <!--Descripcion del profe-->
        <p class="m-3">{{detalleUser?.descripcion_profesor}}
        </p>
    </div>
</div>