<div class="wrapper">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand logomenu" [routerLink]="['/home']"><img
                    src="../../../assets/img/Captura-de-pantalla-2021-06-06-a-las-17.59.54.svg" alt=""></a>





            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
            </button>




            <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation me-5" routerLink="/profesores">Busca tu
                            profesor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation me-5" routerLink="/register" routerLink='/help'><i
                                class="my-5"></i>Ayuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation me-5" [routerLink]="['/formteacher']">Dar
                            clases particulares</a>
                    </li>
                    <li class="nav-item me-5" *ngIf="!usuariosServices.isloged()">
                        <a class=" nav-link hover-underline-animation me-3" routerLink="/register">Unirse
                            ahora</a>
                    </li>
                    <li class="nav-item me-5" *ngIf="!usuariosServices.isloged()">
                        <a class="nav-link mb-2 hover-underline-animation me-5" routerLink='/login'><i
                                class="fas fa-user-circle me-2"></i>Iniciar
                            sesión</a>
                    </li>
                    <li class="nav-item me-5" *ngIf="usuariosServices.isloged()">
                        <a class="nav-link hover-underline-animation me-3" [routerLink]="['/user']">Mi
                            perfil</a>
                    </li>
                    <li class="nav-item desc" *ngIf="usuariosServices.isloged()">
                        <a class="nav-link mb-2 hover-underline-animation me-5 " (click)="onClick()"><i
                                class="fas fa-user-circle me-2"></i>Desconectar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="danimetocaloscojones"></div>