<div class="wrapper navbar-dark bg-dark">
    <div class="container">
        <nav class="navbar ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/img/logo.png" alt="" width="110" height="80"
                        class="d-inline-block align-text-top">
                </a>

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn btn-dark me-3 nav-link active" aria-current="page" href="#">Dar clases
                            particulares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-4" href="#">Ayuda</a>
                    </li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mi usuario
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="/user">Mi cuenta</a></li>
                            <li><a class="dropdown-item" href="#">Panel de control</a></li>
                            <li><a class="dropdown-item" href="#">Ayuda</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Desconectarse</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>