<app-navbar-user></app-navbar-user>

<div class="container">
    <h2 class="mb-5">¿Encuentras la respuesta que necesitas?</h2>
    <div class="row mt-6">
        <div class="contenedor col-5 border border-1 rounded me-2 mb-2">
            <img src="../../assets/ayuda/interaccion.jpg" class="img-fluid" alt=""><img>
            <!--HAY ESTILOS EN CSS-->

            <h4 class="mt-4">¿Cómo ponerme en contacto con el profesor?</h4>
            <p mt-3>La búsqueda de profesores se realiza desde el motor de búsqueda presente en la parte superior de
                cada pantalla de la página web.

                Elige la materia, la ciudad y ¡voilà! Miles de profesores estarán disponibles cerca de ti o por
                webcam.

                Una vez que estés en el motor de búsqueda, filtra tus resultados por: nivel, precio, distancia...

                Una vez seleccionado el profesor o los profesores, el alumno puede ponerse en contacto con ellos
                haciendo clic en el
                botón rosa "Reserva una clase".
            </p>
        </div>
        <div class="contenedor col-5 border border-1 rounded mb-2">
            <img src="../../assets/ayuda/ayuda_confianza.jpg" class="img-fluid imagen2" alt="">
            <!--HAY ESTILOS EN CSS-->º

            <h4 class="mt-4">¿Cómo ponerme en contacto con el profesor?</h4>
            <p mt-3>Claridad y transparencia en los perfiles

                Pedimos a nuestros profesores que sean lo más transparentes posible en la redacción de sus anuncios,
                y
                que detallen su
                perfil en torno a tres categorías: Experiencia, Metodología y Currículum Vítae.
                Los profesores nos hacen llegar sus títulos y/o certificados, que nos comprometemos a verificar en
                las
                24 horas
                siguientes. También controlamos sus datos personales (teléfono, correo electrónico, foto...) para
                facilitar el primer
                encuentro con el alumno.
            </p>
        </div>
        <div class="contenedor col-5 border border-1 rounded mb-2 me-2">
            <img src="../../assets/ayuda/publicarte.jpg" class="img-fluid imagen3" alt="">
            <!--HAY ESTILOS EN CSS-->

            <h4 class="mt-4">¿Cómo ponerme en contacto con el profesor?</h4>
            <p mt-3>Claridad y transparencia en los perfiles

                En We Padel puedes anunciarte como profesor sin coste alguno y podrás publicar tantos anuncios como
                quieras
            </p>
        </div>
        <div class="contenedor col-5 border border-1 rounded mb-2">
            <img src="../../assets/ayuda/imagen4.jpg" class="img-fluid imagen4" alt="">
            <!--HAY ESTILOS EN CSS-->

            <h4 class="mt-4">¿El Alumno puede cerrar un mínimo de horas con el profesor?</h4>
            <p mt-3> Según lo acordado con el profesor, podréis concretar las horas necesarías ya sean diarias,
                semanales y/o mensuales. Siempre y
                cuando estéis en coordinación ambos con vuestros horarios 😊
            </p>
        </div>
    </div>
</div>