<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Victor Espabila</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quis ex pariatur. Molestiae fugit
                recusandae omnis ratione itaque error, nemo ipsa saepe natus numquam porro maxime in tempora est
                inventore.</p>
        </div>
        <div class="col-6">
            <h4>Dani haz la prueba</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, assumenda?</p>
        </div>
    </div>
</div>