<app-navbar-user></app-navbar-user>

<div class="container">
    <h2 class="mb-5 d-flex justify-content-center">¿Encuentras la respuesta que necesitas?</h2>
    <div class="row mt-6">
        <div class="col-6">
            <div class="border border-1 rounded p-3 mb-3">
                <img src="../../assets/ayuda/interaccion.jpg" class="img-fluid rounded" alt="interacción_profesor">
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4 text-center">¿Cómo ponerme en contacto con el profesor?</h4>
                <p mt-3>
                    La búsqueda de profesores se realiza desde el motor de búsqueda presente en la parte superior de
                    cada pantalla de la página web.

                    Elige la materia, la ciudad y ¡voilà! Miles de profesores estarán disponibles cerca de ti o por
                    webcam.

                    Una vez que estés en el motor de búsqueda, filtra tus resultados por: nivel, precio, distancia...

                    Una vez seleccionado el profesor o los profesores, el alumno puede ponerse en contacto con ellos
                    haciendo clic en el
                    botón rosa "Reserva una clase".
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="border border-1 rounded p-3 mb-3">
                <img src="../../assets/ayuda/confianza.jpg" class="img-fluid rounded img2" alt="confianza_profesor">
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4 text-center">¿Cómo puedo asegurarme de que los profesores que he escogido son
                    competentes?</h4>
                <p mt-3>

                    Pedimos a nuestros profesores que sean lo más transparentes posible en la redacción de sus
                    anuncios,y que detallen su perfil al milímetro.
                    Los profesores nos hacen llegar sus títulos y/o certificados. También controlamos sus datos
                    personales (teléfono, correo electrónico, foto) para
                    facilitar el primer encuentro con el alumno.
                </p>
            </div>
        </div>
        <div class="col-6 div3">
            <div class="border border-1 rounded p-3 mb-3">
                <img src="../../assets/ayuda/img3.jpg" class="img-fluid rounded img3" alt="publicate">
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4 text-center">¿Cuántas veces puedo publicarme?</h4>
                <p mt-3>

                    En We Padel puedes anunciarte como profesor sin coste alguno y podrás publicar tantos anuncios como
                    quieras
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="border border-1 rounded p-3 mb-3">
                <img src="../../assets/ayuda/imagen4.jpg" class="img-fluid rounded img4" alt="publicate">
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4 text-center">¿El Alumno puede cerrar un mínimo de horas con el profesor?</h4>
                <p mt-3>

                    Según lo acordado con el profesor, podréis concretar las horas necesarías ya sean diarias,
                    semanales y/o mensuales. Siempre y
                    cuando estéis en coordinación ambos con vuestros horarios 😊
                </p>
            </div>
        </div>
    </div>