@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

p, h2, h4{
    font-family: 'Inter', sans-serif;
}

img{
    width: 50%;
}
.img2{
    width: 49%;
}
.img4{
    width: 40%;
}
.img3{
    width: 42%;
}
h2{
    font-family: '';
}