<app-navbar-user></app-navbar-user>

<div class="container pw">

    <form class="mt-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <!--      <div class="mb-3">
            <label class="form-label">Contraseña anterior</label>
            <input type="password" class="form-control" formControlName="password">
        </div> -->
        <div class="mb-3">
            <label class="form-label">Contraseña nueva</label>
            <input type="password" class="form-control" formControlName="password1">
        </div>
        <div class="mb-3">
            <label class="form-label">Repite contraseña nueva </label>
            <input type="password" class="form-control" formControlName="password2">
        </div>
        <button class="btn btn-outline-primary">Cambiar</button>
    </form>
</div>