<main>
    <!-- <div class="video-wrapper">
        <div class="container">
            <video src="../../../assets/video/videopadel.mp4" autoplay loop></video>
        </div>-->
    <div class="container">
        <div class="formulario">
            <h1>
                Encuentra tu <br>
                profesor adecuado
            </h1>
            <div class="inputs">
                <form method="POST">
                    <input type="text">
                </form>
            </div>
        </div>


    </div>
    <!--</div>-->
</main>