<div class="container">
    <nav class="nav-bar fixed-top navbar-expand-lg p-md-3">
        <div class="logo btn">
            <img src="../../../assets/img/Captura-de-pantalla-2021-06-06-a-las-17.59.54.svg">
            <a href="/"></a>
        </div>
        <div class="relative">
            <div class="navbar-nav">
                <div class="mx-auto">

                    <button type="button" class="btn me-5">Conócenos</button>

                    <button type="button" class="btn px-5 py-3" routerLink="/profesores">Busca tu
                        profesor</button>
                </div>


                <button type="button" class="btn btn-outline-success me-3 p-2" routerLink="/register">Unirse
                    Ahora</button>
                <button type="button" routerLink="/login" class="btn btn-outline-success p-2 me-5">Iniciar
                    sesión</button>
            </div>
        </div>


    </nav>
</div>