*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


nav{
    background-color: white;
    height: 7em;
}

.logo{
    width: 7em;
    height: 3em;
    margin-left: 10em;
}
.logo img{
    width: 100%;
}

button{
    margin-top: -30px
}


/* .relative{
    position: relative;
}
.porsi{
    position: absolute;
    right: 8em;
} */
