*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logo{
    width: 10em;
    height: 3em;
}
.logo img{
    width: 100%;
}
.buttons{
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.buttons a{
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6 rem;
    font-weight: 600;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    outline-width: .125em ;
    padding: 0 0.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0.25em;
    color: white;
}