<app-navbar-user></app-navbar-user>

<!--NAVBAR-->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-4">
            <ul id="filter-list">
                <li class="filter" data-filter="1" (click)="viewSection($event)">Precio</li>
                <li class="filter" data-filter="2" (click)="viewSection($event)">Nivel</li>
                <li class="filter" data-filter="3" (click)="viewSection($event)">Instalaciones</li>
            </ul>
        </div>
        <div class="col-md-12 text-center my-3 " *ngIf="(isViewPrecio)">
            <input [(ngModel)]='precioMin' placeholder="Precio Mínimo">
            <input class="mx-3" [(ngModel)]='precioMax' placeholder="Precio Máximo">
            <button class="btn btn-primary mx-2" (click)="onClickPrecio()">Enviar</button>
        </div>
        <div class="my-4 text-center wz" *ngIf="(isViewNivel)">
            <!--<input (input)=" onInput($event)" [(ngModel)]="nivel">-->

            <select name="nivel" id="nivel" class="form-select" (change)="onInputNivel($event)" [(ngModel)]="nivel">
                <option value="1">Iniciación</option>
                <option value="2">Básico</option>
                <option value="3">Intermedio</option>
                <option value="4">Avanzado</option>
                <option value="5">Experto</option>
            </select>


        </div>
        <div class="col-md-12 text-center my-4 wz" *ngIf="(isViewInstalaciones)">
            <select name="instalaciones" id="instalaciones" class="form-select" (change)="onInputInstalaciones($event)"
                [(ngModel)]="instalaciones">
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="colum">
        <div class="row">
            <div class="card-group  d-flex justify-content-center">

                <div class="card-group individual me-3 mb-4" *ngFor="let profesor of arrProfesores">
                    <img [src]="profesor.img_cliente" class="card-img"
                        style="width: 80%; height: auto; border-radius: 16px; margin: auto; margin-top: 1.5em;">
                    <div class="card-body">
                        <h5 class="card-title">{{profesor.nombre}} {{profesor.apellidos}}</h5>
                        <!--no aparece solo referencia ID-->
                        <p>Experiencia : <span>{{profesor.experiencia}} </span>años</p>
                        <p>Precio : <span>{{profesor.precio}}</span> €/hora</p>
                        <p class="card-text texto">Clases divertidas y didácticas, aunque también exigentes para los más
                            peques. No faltarán los juegos, pero la técnica no
                            se debe pasar por alto!
                            En posesión del titulo de Instructor por la Asociación Profesional Española de Centros de
                            Enseñanza Deportiva.</p>
                        <a href="#" class="btn btn-primary" (click)="onClick(profesor.id)">Ver profe</a>
                        <!-- crear routerlink para ver el detalle del profesor, que sería coger el token o id-->



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>