<!--NAVBAR-->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <ul id="filter-list">
                <li class="filter" data-filter="1" (click)="viewSection($event)">Precio</li>
                <li class="filter" data-filter="2" (click)="viewSection($event)">Nivel</li>
                <li class="filter" data-filter="3" (click)="viewSection($event)">Instalaciones</li>
            </ul>
        </div>
        <div class="col-md-12 text-center" *ngIf="(isViewPrecio)">
            <input [(ngModel)]='precioMin' placeholder="Precio Minimo">
            <input [(ngModel)]='precioMax' placeholder="Precio Máximo">
            <button class="btn btn-primary" (click)="onClickPrecio()">Enviar</button>
        </div>
        <div class="col-md-12 text-center" *ngIf="(isViewNivel)">
            <!--<input (input)=" onInput($event)" [(ngModel)]="nivel">-->
            <div class="col-md-12 text-center">
                <select name="nivel" id="nivel" (change)="onInputNivel($event)" [(ngModel)]="nivel">
                    <option value="1">Iniciación</option>
                    <option value="2">Básico</option>
                    <option value="3">Intermedio</option>
                    <option value="4">Avanzado</option>
                    <option value="5">Experto</option>
                </select>

            </div>
        </div>
        <div class="col-md-12 text-center" *ngIf="(isViewInstalaciones)">
            <select name="instalaciones" id="instalaciones" (change)="onInputInstalaciones($event)"
                [(ngModel)]="instalaciones">
                <option value="true">Si</option>
                <option value="true">No</option>
            </select>
        </div>
    </div>
    <div class="colum">
        <div class="row">
            <div class="card-group">
                <div class="card-group" *ngFor="let profesor of arrProfesores"
                    style="width: 20rem; border-radius: 16px;">
                    <img src="../../../assets/img/logo.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{profesor.id}}</h5>
                        <!--no aparece solo referencia ID-->
                        <p>Experiencia : <span>{{profesor.experiencia}}</span>años</p>
                        <p>Precio : <span>{{profesor.precio}}</span> €/hora</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary" (click)="onClick(profesor.id)">Mostrar mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>