
ul{
	margin:0;
	list-style-type: none;
}

.wz {
	width: 30%;
	margin: 0 auto;
}

#filter-list{
	display: inline-block;
	border:1px solid #dddddd;
	border-radius: 30px;
	padding: 4px;
}
#filter-list li{
	display: inline-block;
	font-size: 16px;
	color: #888888;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-weight: 500;
	padding: 0 20px;
	min-width: 130px;
	cursor: pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;

}
#filter-list li.active,
#filter-list li:hover{
	background-color: #53bff0;
	color: #fff;
}

.individual{
	border: 1px solid black;	
	width: 30%;
	border-radius: 5%;
	overflow:hidden;
}

.texto{
	height: 5em;
	overflow: scroll;
	font-size: 12px;
}
.btn{
	width: 5em;
	font-size: 12px;
	padding: 0;
}
.individual .img{
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}

