<app-header></app-header>

<main>
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="imagen">
            <img src="../../../assets/img/Captura-de-pantalla-2021-06-06-a-las-17.59.54.svg" alt="">
        </div>
    </div>
</main>

<div class="conocenos container mt-4 mb-5">
    <h2 class="mb-5 text-center">Conócenos</h2>

    <div class="row mt-6">
        <div class="col-4">
            <div class="border border-1 rounded p-3 mb-3">
                <img src="../../assets/conocenos/idea.jpg" class="img-fluid rounded" alt="">
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4 text-center">¿Cómo nace nuestra idea?</h4>
                <p mt-3>
                    We Padel nace debido a la incidencia del padel en nuestro pais y la necesidad de buscar
                    profesionales titulados capacitados para instruir de la mejor manera a todos los niveles de
                    experiencia dentro del padel.
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="border border-1 rounded p-3 mb-3">
                <img src="../../assets/conocenos/titulacion.jpg" class="img-fluid rounded" alt=""><img>
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4 text-center">¿Quienes somos?</h4>
                <p mt-3>
                    Somos profesores titulados a nivel nacional en la especialidad deportiva "Padel" con más de 5 años
                    de experiencia y como objetivo de facilitar a las personas la diversión e interés en un deporte tan
                    divertido como el Padel.
                </p>
            </div>
        </div>

        <div class="col-4">
            <div class="border border-1 rounded p-3 mb-3">
                <img src="../../assets/conocenos/coaching.jpg" class="img-fluid rounded" alt=""><img>
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4 text-center">¿Cómo hemos llegado hasta aquí?</h4>
                <p mt-3>
                    A parte de profesionales de Padel somos graduados en Derecho y gracias a nuestros profesores de
                    desarrollo web Juan Antonio Perez y Mario Girón, hemos dado un paso más allá y actualmente somos
                    desarrolladores web.
                </p>
            </div>
        </div>
    </div>


</div>