<app-header></app-header>
<div class="container">
    <main>
        <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="imagen">
                <img src="../../../assets/img/Captura-de-pantalla-2021-06-06-a-las-17.59.54.svg" alt="">
            </div>
        </div>
    </main>
    <div class="container">
        <h2 class="mb-5">Conócenos</h2>
        <div class="row mt-6">
            <div class="col-3 border border-1 rounded me-2 mb-2">
                <img src="../../assets/ayuda/interaccion.jpg" class="img-fluid" alt=""><img>
                <!--HAY ESTILOS EN CSS-->

                <h4 class="mt-4">¿Cómo ponerme en contacto con el profesor?</h4>
                <p mt-3>
                </p>
            </div>