.banner-image{
    background-image: url('../../assets/img/ig_landign01.jpg');
    background-size: cover;
 
    
}

.main{
    margin-top: -2.5em;
}

.imagen_main{
    width: 100%;
    margin: 0 auto;
}
h2{
    font-size: 36px;
}