<app-header></app-header>
<div class="container">
    <main>
        <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="imagen">
                <img src="../../../assets/img/Captura-de-pantalla-2021-06-06-a-las-17.59.54.svg" alt="">
            </div>
        </div>
    </main>
    <div class="row">
        <div class="col-6 col-sm-12 col-xs-12">
            <h2>CONOCE NUESTRA HISTORIA</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis perferendis error soluta illo
                voluptate quae officiis veniam nihil exercitationem? Quo facere voluptatibus provident reprehenderit
                unde sed consequuntur minus voluptatem voluptates!</p>
        </div>
        <div class="col-6 col-sm-12 col-xs-12">
            <h2>CONOCE NUESTRA HISTORIA</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis perferendis error soluta illo
                voluptate
                quae officiis veniam nihil exercitationem? Quo facere voluptatibus provident reprehenderit unde sed
                consequuntur
                minus voluptatem voluptates!</p>
        </div>

    </div>